* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    background-color: #1C1C1C;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    width: 53px;
    height: 42px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.btn {
    background-color: #F6762C;
    border: none;
    border-radius: 5px;
    padding: 15px 36px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #ff5e00;
}

.content {
    max-width: 49%;
    color: #FFFFFF;
    padding-top: 186px;
}

.content__desc {}

.content__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.17;
}

.content__title {
    margin-bottom: 24px;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 42px;
}

.food {
    padding: 115px 0px 102px;
}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: calc(25% - 30px);
}

.product-card {
    background: #312F30;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;
}

.product-card__img-wrap {
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin-bottom: 18px;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: rgba(255, 255, 255, 0.7);
}

.product-card__desc {}

.order {
    padding: 73px 0px;
    background: #312F30;
}

.order__container {
    display: flex;
    align-items: center;
}

.order__img-wrap {
    width: 50%;
    text-align: center;
}

.order__img {}

.order__desc {
    width: 50%;
    padding-left: 109px;
}

.order__action {
    max-width: 368px;
}

.order__title {
    margin-bottom: 24px;
}

.action__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.order__paragraph {
    margin-bottom: 13px;
}

.price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.price__new {
    color: #F6762C;
}

.price__new_size_big {
    font-size: 20px;
}

.price__old {
    text-decoration-line: line-through;
    color: rgba(246, 118, 44, 0.5);
}

.order__price {
    margin-bottom: 11px;
}

.offers {
    padding: 150px 0px 146px 0px;
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.offers__item {
    width: 48.7%;
    height: 300px;
    position: relative;
}

.offers__item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.offers__item:hover::before {
    background-color: #1c1c1c6a;
}

.offers__item:nth-child(even) .offer__action {
    left: 9%;
}

.offer {
    position: relative;
}

.offers__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer__action {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 46.6%;
    right: 0;
}

.offer .action__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.offer__paragraph {
    margin-bottom: 11px;
}

.offer__price {
    margin-bottom: 11px;
}

.offer__btn {
    padding: 13px 36px;
}

.feedback {}

.container {}

.feedback__container {
    display: flex;
}

.feedback__avatars-wrap {}

.feedback__column {
    width: 50%;
}

.avatar {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
}

.feedback__avatar {
    position: absolute;
}

.feedback__avatar:nth-child(1) {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(65deg);
}

.avatar__link {

}

.review {}

.review__text {}

.review__user-name {}

.review__user-info {}

.avatars {
    border: 1px dashed rgb(136, 136, 136);
    width: 346px;
    height: 346px;
    position: relative;
    rotate(65deg)
    transform: translate(-50%, -50%) rotate(65deg);
}

.feedback__avatar:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(65deg);
}

.avatars::after {
    content: "";
    height: 230px;
    width: 230px;
    border: inherit;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback__avatar:nth-child(3) {
    top: 45%;
    left: 85%;
    transform: translate(-20%, -30%) rotate(65deg);
}

.feedback__avatar:nth-child(4) {
    top: 45%;
    left: 0%;
    transform: translate(-20%, -30%) rotate(65deg);
    height: 77px;
    width: 77px;
}

.feedback__avatar:nth-child(5) {
    top: 97%;
    left: 44%;
    transform: translate(-20%, -30%) rotate(65deg);
}

.footer {
    padding: 125px 0px 140px;
}
.container {
}
.footer__container {
}
.footer__contanct {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.contact-link__text
 {
}
.footer__menu {
}
.footer__menu-col {
}
.footer__menu-title {
}
.footer__menu-item {
}
.footer__menu-link {
}
.social {
}
.social_item {
}
.social__link {
}